body {
	overflow: hidden;
}

#mapPanel {
	height: 100%;
}

#mapPanel img { max-width:none; } /* to avoid bug with bootstrap for images in raster layers */

/* useful for layer tree controls */
.tree a{
	display:inline;
	margin-left:0px;
}

.tree ul .hitarea, .tree ul a {
	position:static;
}
/* */

#controlContainer {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
	overflow: hidden;
}

#controlPanelHideBtnPlaceholder {
	position: relative;
	/*left: 30%;*/
	width: 20px;
	height: 20px;
	/*border-radius: 5px;*/
	border: 1px solid white;
	background: url('../../images/arrow-right.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px;
	float: left;
	cursor: pointer;
	z-index: 999;
}

#controlPanel {
	position: absolute;
	top: 0;
	left: 32px;
	right: 0;
	bottom: 0;
	width: auto;
	height: 100%;
	z-index: 999;
}

.overlayPanel {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	z-index: 999;
}

.overlayPanelWhite {
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	z-index: 999;
}

#selectDiv {
	/*min-width: 300px;*/
	height: 100%;
	border-left: 1px solid white;
	padding: 5px;
	overflow-y: auto;
}

#selectDiv .centered {
    /*width: 220px;*/ /* use fix width to avoid buttons stacking vertically when  width is decreased */
    margin-right: auto;
    margin-left: auto;
}

#selectDiv .centeredLarge {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#colorLegend {
    position: relative;
    height: 20px;
}

.olControlScale{
    top: 5em !important;
    left: 0em !important;
    border: solid 2px black;
     border-color:black;
}

.olControlScaleLine {
     border-color:black;
    top: 75px;
    display: block;
    font-size: xx-small;
    left: 10px;
    position: absolute;
    font-family: arial, sans-serif;
    color: white;
    border: black;
}

.colorLegendRow {
    margin: 3px 5px;
    height: 100%;
    float: right;
}

.colorLegendSquare {
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.colorLegendText {
    float: left;
}

#dateSelect {
	width: 120px;
}

#setSelect {
	width: 70px;
}

.timeField {
	width: 70px;
}

#infoDiv {
	width: 150px;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	float: right;
}

#graphPanelContainer {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 95%;
	left: 0;
}

#graphPanelSpacer {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    height: auto;
    border-top: 1px solid white;
}

#graphPanel {
	position: absolute;
	top: 32px;
    left: 32px;
    right: 0;
    bottom: 0;
	width: 75%;
	height: auto;
	border-top: 1px solid white;
	/*display: none;*/
}

#dataSelectPanel {
	display: none;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

#dataSelectPanel b {
	color: black;
}

#dataGraphPlaceholder {
	float: left;
	width: 65%;
	height: 100%;
}

#graphControlPlaceholder {
    position: absolute;
    top: 100px;
    left: 20px;
}

#graphPanelBtnPanel {
	position: relative;
	float: left;
}

#graphPanelHideBtnPlaceholder {
	position: relative;
	width: 20px;
	height: 20px;
	/*border-radius: 5px;*/
	border: 1px solid white;
	background: url('../../images/arrow-right.png');
	background-color: rgba(255, 255, 255, 0.6);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	cursor: pointer;
}

#graphPanelZoomBtnPlaceholder {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	background: url('../../images/zoom.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	float: right;
}

#deviceSelectRow {
	display: none;
}

#fieldContainer {
	margin: 5px 0;
}

.buttonRow {
	height: 30px;
	padding: 5px 0;
}

.selectBtn {
	border: solid 1px white;
	padding: 5px;
	background-color: gray;
	color: white;
	margin-right: 20px;
	cursor: pointer;
	float: left
}

#buttonWrapper {
    position: absolute;
}

#loadingGifPlaceholder {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 85%;
	padding: 5px;
	display: none;
}

#loadingGif {
	width: 25px;
	height: 25px;
}

/*#layerTreeContainer {
	width: 60%;
}*/

.rotated180 {
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}

.rotated90 {
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.rotated270 {
	transform:rotate(270deg);
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
}

#speedVectorPlaceholder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    /*border: 1px solid red;*/
    background: url('../../images/arrow_turquoise.png');
    background-size: 20px 20px;
    display: none;
}

/* graph zoom elements */
#graphZoomPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;	
	height: 100%;
	z-index: 1100; /* must be over map zoom buttons and layer switcher */
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
}

#graphZoomLegendPlaceholder {
	height: 30px;
	position: absolute;
	top: 5%;
	left: 10%;
}

#graphZoomPlaceholder {
	width: 90%;
	height: 70%;
	margin: 5% 5% 0 5%;
}

#graphZoomBtnPanel {
	margin: auto;
	width: 70%;
}

#zoomBtnSubPanel {
	float: left;
}

.graphZoomBtn {
	width: 100px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	color: white;
	background-color: grey;
}

#graphZoomZoomBtn {
	float: left;
	display: none;
}

#graphZoomResetZoomBtn {
	float: left;
	display: none;
}

#graphZoomCloseBtn {
	float: right;
}
