/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis .tick,
.axis text {
	stroke: black;
	font: 9px sans-serif lighter verdana;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.hover-line {
	stroke: #6E7B8B;
}

.zoom-line {
	stroke: #FFA62F;
}

.dataTooltip body {
	background-color: transparent;
}

#tooltipText {
	color: black;
	padding: 5px;
}

/*.tooltipContainer {
	width: 210px;
}*/