@main("contact - ECOL", true) {
    <div id="contactContainer">
        <p>
            Ecological Engineering Laboratory (ECOL)<br/>
            EPFL-ENAC-IIE-ECOL<br/>
            Station 2<br/>
            CH-1015 Lausanne<br/>
            <a href="http://ecol.epfl.ch">ecol.epfl.ch</a>
        </p>
        <p>
            <br/>
            <h5>Civilistes:</h5>
            <a href="mailto:michael.bolay@@epfl.ch">Michaël Bolay</a><br/>
            <a href="mailto:karl.kangur@@epfl.ch">Karl Kangur</a><br/>
            <a href="mailto:jean.rossier@@epfl.ch">Jean Rossier</a>
        </p>
    </div>
}
