@main("import - ECOL", true) {

    <h2>Import sensor data</h2>
    @helper.form(action = routes.Application.importData, 'enctype -> "multipart/form-data") {
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Mission</label>
                <div class="col-sm-3">
                    <span id="missionSelectPlaceholder"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectDataType">Data type</label>
                <div class="col-sm-3">
                    <select id="selectDataType" name="dataType" class="form-control">
                        <option value="temperature">Temperature</option>
                        <option value="compass">Compass</option>
                        <option value="gps">GPS</option>
                        <option value="radiometer">Radiometer</option>
                        <option value="wind">Wind</option>
                        <option value="point_of_interest">Point of interest</option>
                        <option value="ulm_trajectory">ULM trajectory</option>
                    </select>
                </div>
            </div>
            <div id="addressFileSelectContainer" class="form-group">
                <label class="col-sm-2 control-label" for="inputAddressFile">Address file</label>
                <div class="col-sm-3">
                    <input type="file" id="inputAddressFile" name="addressFile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputDataFile">Data file</label>
                <div class="col-sm-3">
                    <input type="file" id="inputDataFile" name="dataFile">
                </div>
            </div>
            <script>
                var config = new Config();
                $().ready(function() {
                    $.ajax({
                        url: config.URL_PREFIX +"/api/missions"
                    }).done(function( jsonData ) {
                        createMissionSelect(jsonData);
                    });
                })
                function createMissionSelect(missions) {
                    var options = "<option value=0>Select a trajectory</option>"; // default value
                    for (var i = 0; i < missions.length; i++) {
                        mission = missions[i];
                        var missionName = mission.date + " " + mission.time + " - " + mission.vehicle
                        options += "<option value="+ mission.id +">"+ missionName +"</option>"
                    }

                    var pathSelect = "<select id=\"pathSelect\" name=\"missionId\" class=\"form-control\">" + options + "</select>";
                    $('#missionSelectPlaceholder').html(pathSelect);

                    $('#selectDataType').change(function(val) {
                        var datatype = $('#selectDataType').val();
                        if (datatype == 'gps' || datatype == 'point_of_interest' || datatype == 'ulm_trajectory' || datatype == 'compass') {
                            $('#addressFileSelectContainer').hide();
                        } else {
                            $('#addressFileSelectContainer').show();
                        }
                    });
                }
            </script>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn">Import</button>
                </div>
            </div>
        </div>
    }

}