@()(implicit flash: Flash)

@import models.Mission
@import models.Vehicle
@import util.DateFormatHelper

@main("mission manager", true) {

    <h2>Manage missions</h2>
    @if(flash.get("status").getOrElse("0") == "0") {
        @if(flash.get("msg").getOrElse("") != "") {
            <div id="statusText" class="success">@flash.get("msg").getOrElse("")</div>
        }
    } else {
        <div id="statusText" class="failure">@flash.get("msg").getOrElse("")</div>
    }
    @helper.form(action = routes.Application.manageMission, 'enctype -> "multipart/form-data") {
    <div id="missionFormContainer" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="selectAction">Action</label>
            <div class="col-sm-3">
                <select id="selectAction" name="action" class="form-control">
                    @if(flash.get("action").getOrElse("create") == "create") {
                        <option value="create" selected="selected">Create</option>
                        <option value="delete">Delete</option>
                    } else {
                        <option value="create">Create</option>
                        <option value="delete" selected="selected">Delete</option>
                    }
                </select>
            </div>
        </div>
        <div id="missionListContainer" style=@if(flash.get("action").getOrElse("create") == "create") {"display:none"}else{""}>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectMission">Mission</label>
                <div class="col-sm-3">
                    <select id="selectMission" name="missionId" class="form-control">
                        @for(m <- Mission.getAll) {
                            @if(flash.get("lastMissionId").getOrElse("0") != "0" && flash.get("lastMissionId").get.toLong == m.id) {
                                <option value="@m.id" selected="selected">@{DateFormatHelper.postgresTimestampFormatter.format(m.departureTime) + " - " + m.vehicle.name}</option>
                            } else {
                                <option value="@m.id">@{DateFormatHelper.postgresTimestampFormatter.format(m.departureTime) + " - " + m.vehicle.name}</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputSecret">Secret</label>
                <div class="col-sm-3">
                    <input type="text" id="inputSecret" name="secret">
                </div>
            </div>
        </div>
        <div id="fieldsContainer" style=@if(flash.get("action").getOrElse("create") == "delete") {"display:none"}else{""}>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectDate">Date</label>
                <div id="selectDate" data-name="missionDate" class="bfh-datepicker col-sm-3" data-format="y-m-d"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectTime">Time</label>
                <div id="selectTime" data-name="missionTime" class="bfh-timepicker col-sm-3"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectVehicle">Vehicle</label>
                <div class="col-sm-3">
                    <select id="selectVehicle" name="missionVehicle" class="form-control">
                        @for(v <- Vehicle.getAll) {
                        <option value="@v.id">@v.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="selectTimezone">Timezone</label>
                <div class="col-sm-3">
                    <select id="selectTimezone" name="missionTimezone" class="form-control">
                        <option value="GMT">GMT</option>
                        <option value="GMT+1" selected="selected">GMT+1</option>
                        <option value="GMT+2">GMT+2</option>
                        <option value="GMT+2">GMT+3</option>
                        <option value="GMT+2">GMT+4</option>
                        <option value="GMT+2">GMT+5</option>
                        <option value="GMT+2">GMT+6</option>
                        <option value="GMT+2">GMT+7</option>
                        <option value="GMT+2">GMT+8</option>
                        <option value="GMT+2">GMT+9</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submitBtn" type="submit" class="btn">@if(flash.get("action").getOrElse("create") == "create") {Create}else{Delete}</button>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/bootstrap-formhelpers.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-formhelpers.css")">
    <script>
        $().ready(function() {
            //$( "#inputMissionDate" ).datepicker();
            $('#selectAction').change(function(ev) {
                $('#statusText').hide();
                var action = $('#selectAction').val();
                if (action == 'create') {
                    $('#missionListContainer').hide();
                    $('#fieldsContainer').show();
                    $('#submitBtn').text("Create");
                } else {
                    $('#missionListContainer').show();
                    $('#fieldsContainer').hide();
                    $('#submitBtn').text("Delete");
                }
            });
            @if(flash.get("status").getOrElse("0") == "0") {
                setTimeout(function() {$('#statusText').slideUp(700)}, 2000)
            }
        })
    </script>
    }
}