@(batchId: String)

@import play.api.Play
@import play.api.Play.current

@main("spatialize result - ECOL", true) {
    @if(batchId != "") {
        <h2><span id="statusPlaceholder">Spatialization started ...</span></h2>
        <span id="hintPlaceholder"></span>
        <p>Progress: <span id="progressPlaceholder"></span></p>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    } else {
        <h2>Spatialization failed !</h2>
        <!--<p>Nb spatialized measures: nbSuccess (But nbFailures failures)</p>-->
    }
    <script src="@routes.Assets.at("javascripts/progress.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(getProgress('@batchId', 'Spatialization', '@Play.configuration.getString("application.context")'))
    </script>
}