@import models.spatial.DataLogManager

@main("spatialize - ECOL") {

<h2>Spatialize sensor data</h2>
@helper.form(action = routes.Application.spatializeData, 'enctype -> "multipart/form-data") {
<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="selectDataType">Data type</label>
        <div class="controls">
            <select id="selectDataType" name="dataType">
                <option>Temperature</option>
                <option>Compass</option>
                <option>Radiometer</option>
                <option>Wind</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="selectDate">Date</label>
        <div class="controls">
            <select id="selectDate" name="date">
                @for(date <- DataLogManager.getDates) {
                    <option>@date</option>
                }
            </select>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Spatialize</button>
        </div>
    </div>
</div>
}

}